.App {
  text-align: center;
}

h1 {
  margin-top: 15px;
  font-size: 40px;
}

.persons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.person {
  width: 250px;
  padding: 15px;
  border-radius: 5px;
  border: 0;
  margin: 10px;
  cursor: pointer;
  background-color: rebeccapurple;
}

.person>img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

label {
  display: block;
}

input {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}

button {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}